/*pequeño*/







@media (min-width:400px) {

    body {}

    .encabezado {
        background: rgba(51, 51, 51, 0.8);
        font-size: 25px;
        text-align: center;
        color: white;
        border-radius: 8px;
        margin-top: -20px;


    }

    .radio_seleccion {
        font-size: 35px;
        text-align: center;
        padding-left: 5%;
        margin-bottom: 12px;
        margin-top: -12px;
        ;
        align-items: flex-end;

    }



    .frm_datos {


        color: snow;
        border-radius: 8px;
        background: rgba(51, 51, 51, 0.8);



    }



    .label_formulario {
        font-size: 35px;
        text-align: center;
        margin-top: 12px;

    }

    input {

        border-radius: 8px;
        height: 30px;
        border-radius: 8px;
        margin-bottom: 12px;
        width: 13em;
        font-size: 25px;
        ;


    }

    select {
        border-radius: 8px;
        height: 30px;
        border-radius: 8px;
        margin-bottom: 12px;
        width: 13em;
        font-size: 25px;
    }

    .btnEnviar:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }

    .button {


        margin-top: 12px;
        float: none;
        text-align: center;


    }

    .btnEnviar,
    .btnLimpiar {
        height: 70px;
        background-color: chocolate;
        color: white;
        font-size: 2em;
    }





}


/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



@media (min-width:869px) {

    #lbradio {
        font-size: 50px;


    }
}







@media (min-width:768px) {
    body {}

    .encabezado {
        background: rgba(51, 51, 51, 0.8);
        font-size: 35px;
        text-align: center;
        color: white;
        border-radius: 8px;
        margin-top: -20px;


    }

    #lbradio {

        text-align: right;
    }

    .frm_datos {


        color: snow;
        border-radius: 8px;
        background: rgba(51, 51, 51, 0.8);



    }



    .label_formulario {
        font-size: 35px;
        text-align: center;
        margin-top: 12px;

    }

    input {

        border-radius: 8px;
        height: 32px;
        border-radius: 8px;
        margin-bottom: 12px;
        width: 25em;


    }

    select {
        border-radius: 8px;
        height: 35px;
        border-radius: 8px;
        margin-bottom: 12px;
        width: 25em;
    }

    .btnEnviar:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }

    .button {

        margin-left: 90px;
        margin-top: 12px;
        float: none;
        text-align: center;



    }

    .btnEnviar,
    .btnLimpiar {
        height: 70px;
        width: 530px;
        background-color: chocolate;
        color: white;
        font-size: 2em;
    }


}

/**+++++++++++++++++++++++++++GRANDE+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width:1000px) {
    * {
        margin: 0;
        padding: 0;
    }



    .radio_seleccion {
        display: flex;
        text-align: center;
        margin-top: 20px;
        margin-left: 15%;
        width: 700px;
    }


    #lbradio {


        font-size: 29px;

    }





    body {
        background: url("../imagenes/afiliadosSalud.png");
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Source Sans Pro', sans-serif;
        min-width: 600px;
        max-width: 1600px;
    }

    input {
        width: 40%;
        height: 30px;
        border-radius: 8px;
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }

    footer {
        background: rgba(51, 51, 51, 0.5);
    }

    select {
        width: 40%;
        height: 50px;
        border-radius: 8px;
    }

    .encabezado {
        margin-top: 6px;
        text-align: center;
        font-size: 25px;
        margin-bottom: 6px;
        background: rgba(51, 51, 51, 0.5);
        color: snow;
        width: 50%;
        margin-left: 25%;
        margin-top: 10px;
        border-radius: 15px;
        min-width: 600px;
        max-width: 1600px;
    }






    .frm_datos {
        width: 60%;
        margin-left: 20%;
        margin-top: 10px;
        border-radius: 15px;
        font-size: 25px;
        background: rgba(51, 51, 51, 0.5);
        color: snow;



    }

    .label_formulario {
        margin-left: 30px;
        margin-bottom: 15px;

    }

    /*     .cedula{
                        margin-left: 11.5%;    
                    }
                    
                    .tipoDocumento{
                        margin-left: 18%;
                    }
                    
                    .departamento{
                        margin-left: 26%;
                    }
                    
                    .ciudad{
                        margin-left: 38%;
                    }
                    
                    .nombres{
                        margin-left: 35%;
                    }
                    
                    .apellidos{
                        margin-left: 35%;
                    }
                    
                    .fechaNacimiento{
                        margin-left: 16%;
                    }
                    
                    .email {
                        margin-left: 41%;
                    }
                    
                    .confirmaEmail{
                        margin-left: 24%;
                    }*/

    .button {


        display: flex;
        text-align: center;



    }

    .btnEnviar {
        width: 310px;
        height: 50px;
        font-size: 30px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .15);
        border: 1px solid;
    }

    .btnEnviar:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }


    input:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }

    input:focus {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }



    select:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
        cursor: pointer;
    }


    .btnLimpiar {
        width: 310px;
        height: 50px;
        font-size: 30px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .15);
        border: 1px solid;
    }

    .btnLimpiar:hover {

        box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
        border: 2px solid;
        cursor: pointer;
        background: rgba(255, 38, 21, 0.5);
        color: snow;
    }

}